<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="weourus.emirim.hs.kr.gotogether">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden"
       >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD9yflc329OdetbWCJxNlAnOote2H4Ym0M" />

        <activity android:name=".ActivitySplash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityMain"
            android:icon="@drawable/app_logo_white"
            android:label="함께가요">
        </activity>
        <activity
            android:name=".ActivityTravelAdd"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".ActivityTravelList"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityLocationAddAutoComplete"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityLocationAdd"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityLocationList"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityTravelDetail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityTravelEdit"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ActivityLocationListEdit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityLocationAddAutoCompleteEdit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityLocationAddEdit"
            android:theme="@style/AppTheme" />
        <activity android:name=".MainActivity3"></activity>
        <activity android:name=".ActivityTravel"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".ActivityLogin"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app"/>

    </application>

</manifest>